[commit]
  gpgSign = true

[user]
  name = Roel de Cort
  email = roel@decort.tech
  signingKey = F95CABF0B7D54D8087FF9B3E321EAD1FC3C51961

[core]
  sshCommand = "ssh -i ~/.ssh/roelc_gh"

[gpg]
  program = "/opt/homebrew/bin/gpg"